@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600;700&display=swap');
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/banner-dark.css");
@import url("components/sousdiv-cases.css");
@import url("components/cases.css");
@import url("components/titre.css");
@import url("components/liste-cases.css");
@import url("components/soustitre.css");


body {
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	background-color: #5e78a0;
}

body h1,h2,h3,p {
	color:  rgb(222, 228, 236);
}

h1 {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 900;
	font-size: 45px;
}

h2{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	font-size: 25px;
}

.sousdiv-clases {
	display: flex;
}

.images-sousdiv {
	width: 150px;
	border-radius: 6px;
}
