@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600;700&display=swap');
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/banner-dark.css");

body {
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
}

h1 {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 900;
	font-size: 45px;
}

h2{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	font-size: 25px;
}

.sousdiv-clases {
	display: flex;
}