#contact {
	background-color:  rgb(222, 228, 236);
	margin: -10px;
	display: flex;
	justify-content: space-between;
}

#contact h1 {
	color:  #323335;
	margin: 20px;
}

#contact h2 {
	color:  #323335;
	margin: 20px;

}

#contact h3 {
	color:  #323335;
	margin: 20px;
}

#contact p {
	color:  #323335;
	margin: 20px;
}